// Specific CSS for your home-page
.nav {
  border: 1px solid black;
  width: 100%;
  background-color: black;
  padding: 5px;
  color: white;
}

.home-page-actions {
  width: auto;
  flex: 0 0 auto;
}

.banner {
  height: 400px;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.title {
  font-size: 60px;
}

.subtitle {
  font-size: 25px;
}
.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 250px;
}

.search-bar .form-control {
  height: 50px;
  width: 550px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.loop {
  background-color: #00A2FF;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  width: 50px;
  height: 50px;
  padding: 5px;
  // position: absolute;
}
.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  padding-top: 500px;
}
.cards {
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.page {
  background-color: #00A2FF;
  height: 1000px;
}
a:hover {
  color: 00A2FF;
  transition: 0.5s;
}
