// Specific CSS for your home-page
.container {
  border: 1px solid black;
  width: 100%;
  background-color: rgba(27, 200, 108, 0.869);
  padding: 10px;
}

.banner {
  height: 500px;
  color: white;
}
