// Specific CSS for your home-page
.nav {
  border: 1px solid black;
  width: 100%;
  background-color: black;
  padding: 5px;
  color: white;
}

.home-page-actions {
  width: auto;
  flex: 0 0 auto;
}

.banner {
  height: 400px;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.cards {
  height: 300px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.page {
  background-color: #00A2FF;
}
a:hover {
  color: yellow;
  transition: 0.5s;
}
