<div class="row container" style="text-align: center;">
  <div class="col">
    <h2> 📊 Portfolio Tracker</h2>
  </div>
  <div class="col">
    <h3>Home</h3>
  </div>

   <div class="col">
    <h3>My Portfolio</h3>
  </div>

  <div class="col">
    <h3>login</h3>
  </div>
</div>
