<div class="row container" style="text-align: center;">
  <div class="col">
    <h2> 📊 Portfolio Tracker</h2>
  </div>
  <div class="col">
    <h3>Home</h3>
  </div>

   <div class="col">
    <h3>My Portfolio</h3>
  </div>

  <div class="col">
    <h3>login</h3>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/04/c0/33/04c033d300ef346fe774a9ff1719aa57.gif);">
  <div class="col banner" style="padding: 20px;">
    <h1>All your <strong>investments</strong> in <strong>one</strong> place!</h1>
    <p>Crypto, stocks, forex, etc. We got it all 😉</p>
  </div>
</div>
